mixin createMenu(menu, active) 
    each value, key in menu 
        if active == key 
            a.active(href= value)= key 
        else 
            a(href= value)= key

mixin sectionBlock(listSections)
    each item in listSections 
                section 
                    h3= item.header 
                    img(src= require("./images/" + item.image)) 
                    p= item.text 
                        a(href="#") &hellip;