block variables
    - var title = 'Список лучших аниме года'
    - var title_graph = 'Таблица'

    -
        var dictMenu = { 
            'Главная': 'index.html', 
            'Топ аниме': "building.html",  
            'Таблица': "graph.html", 
            'Лучшее': "#"
        }

    - 
        var listImages = ['alximik.jpg', 'avengers.jpg', 'bleach.jpg']

    
    -   
        var tableInfo = [
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1],
            ['Тетрадь смерти','Сериал','Япония',2008,39],
            ['Блю Лок: Синяя тюрьма','Сериал','Япония',2008,24],
            ['Евангелион 3.3: Ты не исправишь','Фильм','Япония',2019,1],
            ['Агент Времени','Сериал','Китай',2012,1],
            ['Red Line','Фильм','США',2019,1]
        ]   

    -   
        var filters = [
            { label: "Название", type: "text", name: "name", id: "name" },
            { label: "Тип Аниме", type: "text", name: "type", id: "type" },
            { label: "Страна", type: "text", name: "country", id: "country" },
                { label: "Год выпуска", type: 'group', fields: [
                    {type: "number", name: "yearFrom", min: "1900", max: "2024"},
                    {type: "number", name: "yearTo", min: "1900", max: "2024"}
                ]},
                { label: "Количество серий", type: 'group', fields: [
                    {type: "number", name: "seriesFrom", min: "1", max: "1500"},
                    {type: "number", name: "seriesTo", min: "1", max: "1500"}
                ]},
        ]   

    - 
        var structures = [
        {
            menuItem: "DanDadan - Призраки и загадки", 
            pict: "dandadan.jpg",
            firstP: `Об адаптации манги в формат аниме-сериала было объявлено 27 ноября 2023 года. Его производством занялась студия Science Saru, на должность режиссёра был назначен Фуга 
            Ямасиро, сценаристом стал Хироси Сэко[англ.], дизайнером персонажей — Наоюки Онда, дизайнером инопланетян и сверхъестественных существ — Ёсимити Камэда, 
            а композитором — Кэнсукэ Усио[англ.]. Премьера аниме-сериала состоялась 4 октября 2024 года в программном блоке Super Animeism Turbo телесети Japan 
            <News Network[англ.] (JNN), в состав которой входят телеканалы MBS и TBS. Предпремьерные показы первых трёх серий под названием Dandadan: First Encounter состоялись 
            31 августа на территории Азии, 7 сентября — Европы и 13 сентября — Северной Америки. Открывающая музыкальная тема — «Otonoke» (яп. オトノケ Отонокэ), исполненная 
            хип-хоп-дуэтом Creepy Nuts; закрывающая — «Taidada», исполненная рок-группой Zutomayo.`,
            /*текст второго абзаца */
            secondP: `В марте 2024 года аниме-сериал был лицензирован стриминговыми сервисами Crunchyroll и Netflix, а также компанией Muse Communication[англ.]. Правами на показ 
            аниме-сериала в кинотеатрах, а также правами на домашнее и цифровое распространение на территории Северной Америки обладает кинодистрибьютор GKIDS[англ.].   
            В начале августа 2024 года первые шесть серий аниме-сериала утекли в сеть и были выложены на таких сайтах, как 4chan и Nyaa Torrents[англ.].<
            По данным на 16 сентября 2024 года Dandadan: First Encounter собрал в американском кинопрокате 1 005 531 доллар США.`

        },
        {
            menuItem: "Re:Zero Жизнь в другом мире", 
            pict: "rezero.jpg",
            firstP: `Аниме «Re: Zero — жизнь с нуля в другом мире» рассказывает о старшекласснике Субару Нацуки, который однажды ночью решает отправиться в магазин. На обратном пути вместо
             дома он загадочным образом попадает в альтернативный мир. Оказавшись в другом измерении, он тут же находит неприятности, но ему на помощь приходит прекрасная 
             эльфийка, в которую герой тут же влюбляется. Не желая расставаться с прекрасной девушкой, Субару присоединяется к поискам украденной у неё вещи. 
            Героям удалось выйти на след вора, но добраться до вещи не удалось: их убивают. На этом история могла закончиться, но внезапно Субару вновь оказался на той улице, 
             по которой он возвращался из магазина. `,
            secondP: `Сюжет разворачивается в трёх арках: первая — с первого по третий эпизод, вторая — с четвёртого по одиннадцатый эпизод, и третья — с двенадцатого до конца. Главный герой,
            Субару Нацуки, оказывается в фэнтезийном мире и сталкивается с многочисленными вызовами, которые невозможно решить с первой попытки. Его способность «посмертного
            возвращения» позволяет ему возвращаться в определённую точку после смерти, что добавляет сложности и глубины его миссии. 
            Экранизация аниме была анонсирована Kadokawa в июле 2015 года. Показ начался с 50-минутной серии 4 апреля 2016 года на TV Tokyo, TV Osaka, TV Aichi и AT-X. Последняя 
            серия вышла 18 октября 2024 года. В первом сезоне аниме были экранизированы первые 9 томов основной серии ранобэ.`
        },
        {
            menuItem: "Bleach - Один из лучших сёненов", 
            pict: "bleach.jpg", 
            firstP: `«Блич» (яп. ブリーチ бури:ти, англ. Bleach) — манга Тайто Кубо и её аниме-адаптация. Манга публиковалась с августа 2001 по август 2016 года в журнале Weekly Shonen Jump. 
            В настоящее время манга закончена и насчитывает 686 глав, объединённых в 74 тома. В 2005 году манга «Блич» была награждена премией издательства Shogakukan 
            как лучшая манга в категории «сёнэн» (для юношей), так же она входит в список комиксов-бестселлеров в Японии и США.
            Центральный персонаж «Блич» — пятнадцатилетний школьник Ичиго Куросаки, случайно получивший сверхъестественные силы синигами — богов смерти. Синигами в Японии 
            представляют собой персонифицированную смерть, наподобие западного скелета с косой. Наделённый их способностями, Ичиго вынужден сражаться со злыми духами, 
            защищать людей и отправлять души умерших в загробный мир.`,	 
            secondP: `Кроме аниме-сериала, сняты две OVA, четыре анимационных фильма, появилось большое количество видеоигр, мюзикл и две коллекционные карточные игры. Издательство Shueisha 
            занимается новеллизацией «Блич»: в 2004, 2006 и 2012 году были опубликованы три книги в формате лайт-новел, написанные совместно Тайто Кубо и Макото Мацубарой. 
            12 октября 2007 года компания «Мега-Аниме» объявила о приобретении лицензии на российское издание сериала, выход которого в России планировался осенью 2008 года. 
            Манга была лицензирована в России в 2008 году компаниями «Эксмо» и «Комикс-Арт». В марте 2010 года кинокомпания Warner Bros. приобрела права на экранизацию манги 
            в качестве игрового фильма. Режиссёром картины, по предварительным данным, станет Питер Сигал. В феврале 2012 года издательство Shueisha заявило о том, что «Блич» 
            подходит к завершению — в журнале будет выходить последняя сюжетная арка манги. На момент выхода 62-го тома, суммарные продажи танкобонов «Блич» превысили 
            82 миллиона экземпляров. 4 июля было объявлено о завершении манги. Манга закончилась на 686 главе 74 тома 15 августа 2016 года в журнале Weekly Shonen Jump. 
            Вместе с заключительной главой манги был опубликован анонс адаптации манги в форме игрового фильма, который вышел в 2018 году.`
        }
        ];

    - 
        var xValues = [
            {label: "Тип Аниме", value: "first"},
            {label: "Страна", value: "second"},
            {label: "Год", value: "third"}
        ]

    - 
        var yValues = [
            {label: "Максимальное число серий", value: "0"},
            {label: "Минимальное число серий", value: "1"},
            {label: "Количество серий", value: "2"}
        ]

    -   
        var sorts = [
            { label: "Первый уровень", name: "choice_1", value: "1_stage" },
            { label: "Второй уровень", name: "choice_2", value: "2_stage" },
            { label: "Третий уровень", name: "choice_3", value: "3_stage" }
        ]
